{% extends "cwirek/base.html" %}
{% load extras %}
{% block content %}
    <h1 class="mb-3">Posts by {{ user.first_name }}, {{ user.last_name }} - {{ user.email }}</h1>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-tweets' user.id %}">{{ user }}</a>
                <a class="btn btn-outline-info" href="{% url 'user-message' user.id %}">Wyślij wiadomość</a>
            </div>

    {% for tweet in tweets %}
        <article class="media content-section">
{#        <img class="rounded-circle article-img" src="{{ tweet.user.profile.image.url }}">#}
          <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ tweet.creation_date|date:"F d, Y" }} </small>
            </div>
                <a class="article-title" href="{% url 'tweet-detail' tweet.id %}">
                    <p class="article-content">{{ tweet.content }}</p>
                </a>
              <small class="text-muted">Ilość komentarzy: {{ tweet|count_comments }}</small>
          </div>
        </article>
    {% endfor %}
          </div>
        </article>
{% endblock content %}